header {
	padding: 0;
	margin: 60px 80px;
}

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #888888;
	font-size: small;
}

h1 {
	padding: 0;
	margin: 2px 10px;
}

h4 {
	padding: 0;
	margin: 2px 10px;
}

h6 {
	font-weight: normal;
	padding: 0;
	margin: 2px 10px;
}

a {
	text-decoration: none;
	color: #489ED5;
}


div.navbar {
	background: #E2DCE8;
	border-radius: 6px;
	margin: 20px 80px;
	padding: 8px 10px 10px 10px;
}

.navbar ul {
	list-style-type: none;
	display: inline;
}

.navbar li {
	float: left;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.navbar li:hover {
	background: #FFFFFF;
}

.navbar a {
	display: block;
	color: #888888;	
	padding: 4px 15px 10px 15px;
}

#here {
	background: #FFFFFF;
}


div.content {
	float: left;
	margin-left: 100px;
	width: 50%;
}

.content img {
	border: 1px solid black;
	padding: 6px;
	margin: 2px 10px 2px 5px;
	display: inline;
	float: left;
}

.content p {
	display: inline;
}



div.sidebar {
	float: right;
	margin-right: 100px;
	border-left: 1px solid #E2DCE8;
}

.sidebar p {
	padding: 1px 8px;
}

#agencyname {
	background: #E2DCE8;
	border-radius: 6px;
	padding: 7px;
}

